html {
	font-family: Arial;
}

/**********
   HEADER
**********/
header {
	display: block;
	background-color: ;
	text-align: center;
	height: 10%;
	width: 100%;
}
header img, h2 {
	display: inline-block;
}

header h2 {
}

header img {

}

/**********
   Main Content
**********/

.main-content {
	clear: both;
}

.link-box {
	margin: 2.5%;
	width: 44.8%;
	height: 250px;
	display: inline-block;
	text-align: center;
	line-height: 250px;
	border-radius: 5px;
}

.link-box:hover {
	text-decoration: underline;
}

.link-box a {
	text-decoration: none;
	color: white;
}

#about {
	background-color: #26596A;
}

#about:hover {
	background-color: #457585;
}

#portfolio {
	background-color: #AA8939;
}

#portfolio:hover {
	background-color: #D4B56A;
}

#blog {
	background-color: #AA7339;
}

#blog:hover {
	background-color: #D4A16A;
}

#contact {
	background-color: #303C74;
}

#contact:hover {
	background-color: #515E91;
}


/**********
BLOG INDEX
**********/

.blog-header, .blog-list {
	text-align: center;
	background-color: #AA7339;
	color: white;
	border-radius: 5px;
}

.blog-list {
	margin: 2.5%;
	width: 44.8%;
	height: 350px;
	display: inline-block;
}

.blog-list a {
	color: white;
}

#tech, #cultural {
	background-color: #26596A;
}

.blog-list ul {
	list-style-type: none;
	padding: 0px;
}

.home {
	text-align: center;
}

/**********
   Contact Page
**********/

.contact-head, .contact-body {
	color: white;	
	border-radius: 5px;
}

.contact-head {
	background-color: #303C74;
	text-align: center;
	width: 90%;
	margin: 0% 5%;
}

.contact-body {
	margin: 5%;
	padding: 5% 25%;
	background-color: #AA8938;
}

.contact-body a {
	color: white;
}

/**********
   Footer
**********/

footer {
	text-align: center;
	width: 100%;
	height: 5%;

}